.column {
  width: 50%;
  height: 100%;
  float: left;
  padding: 1em;
}

.container {
  text-align: center;
  height: 100%;
  padding: 5px;
  position: relative;
}

.vertical-align-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
}

.vertical-align {
  display: table-cell;
}

.vertical-align--middle {
  vertical-align: middle;
}

body,
html {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  font-size: 14px;
  background: radial-gradient(circle at center, #734b6d, #42275a);
  background-attachment: fixed;
  height: 100%;
  padding: 0;
  margin: 0;
}

.name {
  color: #fff;
  opacity: 0.5;
  font-weight: 300;
  font-size: 72px;
  text-align: center;
  letter-spacing: 4px;
}

.slogan {
  color: #fff;
  opacity: 0.5;
  font-weight: 200;
  font-size: 32px;
  text-align: center;
  letter-spacing: 2px;
}

.stuff {
  padding-top: 55px;
  opacity: 0.8;
  font-weight: 200;
  font-size: 32px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 44px;
}

a:hover,
a:visited,
a:link,
a:active {
  color: #fff;
  text-decoration: none;
}

.contact {
  color: #fff;
  font-weight: 100;
  font-size: 32px;
  text-align: center;
  letter-spacing: 1px;
}
