body
{
    bottom: 0;
    height: 500px;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
	
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background: radial-gradient(circle at center, #16222A, #3A6073);
    background-attachment: fixed;	
}

header .name 
{
    color: #fff;
    font-weight: 100;
    font-size: 52px;
    text-align: center;
	letter-spacing: 1px;
}

header .slogan
{
    color: #fff;
    font-weight: 100;
    font-size: 42px;
    text-align: center;
	letter-spacing: 1px;
}

header .stuff
{
	padding-top: 55px;
    font-weight: 100;
    font-size: 32px;
    text-align: center;
	letter-spacing: 1px;
}

a:hover, a:visited, a:link, a:active
{
    color: #fff;
    text-decoration: none;
}

header .contact
{
	padding-top: 100px;
    color: #fff;
    font-weight: 100;
    font-size: 32px;
    text-align: center;
	letter-spacing: 1px;
}