/*
 * Ideal Image Slider Default Theme
 * Version: 1.2.0
 */

/* Bullet Navigation */
.iis-bullet-nav
 {
	position: absolute;
	bottom: 0;
	z-index: 15;
	width: 100%;
	text-align: center;
}

.iis-has-captions .iis-bullet-nav { max-width: 42%; }

.iis-bullet-nav a
{
	display: inline-block;
	width: 8px;
	height: 8px;
	background: #000;
	text-indent: 9999px;
	margin: 0 5px;
	/*border: 1px solid rgba(0,0,0,0.5);*/
	border-radius: 10px;
	cursor: pointer;
	-webkit-transition: 0.3s ease-out;
	   -moz-transition: 0.3s ease-out;
		 -o-transition: 0.3s ease-out;
			transition: 0.3s ease-out;
}
.iis-bullet-nav a.iis-bullet-active,
.iis-bullet-nav a:hover { background: #fff; }
.ideal-image-slider:hover .iis-bullet-nav { opacity: 0.7; }
.ideal-image-slider:hover .iis-bullet-nav:hover { opacity: 1.0; }
