body
{
    font-family: -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 768px;
    line-height: 1.5;
    background: #360033;
    background: #0b8793;
    background: -moz-radial-gradient(center, ellipse cover, #0b8793 0%, #360033 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #0b8793), color-stop(100%, #360033));
    background: -webkit-radial-gradient(center, circle cover, #0b8793, #360033);
    background: -o-radial-gradient(center, circle cover, #0b8793, #360033);
    background: -ms-radial-gradient(center, circle cover, #0b8793, #360033);
    background: radial-gradient(circle at center, #0b8793, #360033);
    background-attachment: fixed;
}

header .name 
{
    font-weight: 100;
    font-size: 72px;
    text-align: center;
	letter-spacing: 3px;
}

header .slogan
{
	top-padding: 25px;
    font-weight: 100;
    font-size: 32px;
    text-align: center;
	letter-spacing: 1px;
    position: relative;
}

header .center {
    max-width: 960px;
    position: relative;
    margin: 0 auto;
}

header .logo
{
    width: 256px;
    height: 256px;
    background-size: 100% auto;
    position: relative;
    margin: 2px auto;
}

.availability
{
	/*top-padding: 25px;*/
    /*margin: 2px;*/
    font-weight: 100;
    font-size: 13px;
    text-align: center;
	letter-spacing: 1px;
    position: relative;
}

.documentation
{
    font-size: 32px;
    font-weight: 200;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
    margin: 20px 0px 32px 0px;
}

header .appstore
{
	margin: 10px 20px 2px 20px;
	text-align: center;
}

header .copyright
{
    margin: 22px 0px 0px 0px;
    font-weight: 100;
    font-size: 22px;
    text-align: center;
	letter-spacing: 1px;
    position: relative;
}

header .copyright .a:hover, a:visited, a:link, a:active
{
    color: #fff;
    text-decoration: none;
}