.guide
{
    border-radius: 6px;
    /*background: rgba(0, 0, 0, 0.6);*/
    padding: 5px; 
    width: 80%;
    height: 610px; 
    text-align: center;
    margin: auto;
    font-weight: 100;
    font-size: 28px;
}

.guide .sampleJSON
{
    background-color: #000000;
    border-radius: 6px;
    opacity: .5;
    float:left;
    width: 30%;
    height: 80%;
    overflow: scroll;
    text-align: left;
    font-size: 12px;
    padding-left: 4px;
}

/*.guide .secondary
{
    text-align: center;
    font-size: 20px;
}
*/
.guide .queries
{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    float:right;
    width: 66%;
    height: 80%;
    text-align: left;
    font-size: 12px;
    padding: 0px 0px 0px 4px;
}

.guide .queries .queryResultLeft
{
    float: left;
    position: relative;
    width: auto;
    background: #000000;
    opacity: .6;
    border-radius: 6px;
    margin: 0px 10px 0px 10px;
    padding: 0px 4px 0px 4px;
}

body
{
    font-family: -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 768px;
    line-height: 1.5;
    background: #360033;
    background: #0b8793;
    background: -moz-radial-gradient(center, ellipse cover, #0b8793 0%, #360033 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #0b8793), color-stop(100%, #360033));
    background: -webkit-radial-gradient(center, circle cover, #0b8793, #360033);
    background: -o-radial-gradient(center, circle cover, #0b8793, #360033);
    background: -ms-radial-gradient(center, circle cover, #0b8793, #360033);
    background: radial-gradient(circle at center, #0b8793, #360033);
    background-attachment: fixed;
}

header .name 
{
    font-weight: 100;
    font-size: 72px;
    text-align: center;
	letter-spacing: 3px;
}

header .slogan
{
	top-padding: 25px;
    font-weight: 100;
    font-size: 32px;
    text-align: center;
	letter-spacing: 1px;
    position: relative;
}

header .center {
    max-width: 960px;
    position: relative;
    margin: 0 auto;
}

header .logo
{
    width: 256px;
    height: 256px;
    background-size: 100% auto;
    position: relative;
    margin: 2px auto;
}

.availability
{
    font-weight: 100;
    font-size: 20px;
    text-align: center;
	letter-spacing: 1px;
    position: relative;
    margin-top: -34px;
}

header .appstore
{
	margin: 10px 20px 20px 20px;
	text-align: center;
}

header .copyright
{
	top-padding: 25px;
    font-weight: 100;
    font-size: 22px;
    text-align: center;
	letter-spacing: 1px;
    position: relative;
}

header .copyright .a:hover, a:visited, a:link, a:active
{
    color: #fff;
    text-decoration: none;
}