body
{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #FFAF5D;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 768px;
    line-height: 1.5;
    background: radial-gradient(circle at center, #600047, #9E0031);
    background-attachment: fixed;
}

header .name 
{
    font-weight: 100;
    font-size: 72px;
    text-align: center;
	letter-spacing: 3px;
}

header .slogan
{
    font-weight: 100;
    font-size: 32px;
    text-align: center;
    margin-bottom: -60px;
}

header .logo
{
	margin: 20px 20px 20px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 51.2px;
}

.availability
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    font-weight: 100;
    font-size: 32px;
    text-align: center;
	letter-spacing: 1px;
    position: relative;
}

header .appstore
{
    margin-top: -20px;
    margin-bottom: 0px;
    margin-right: 20px;
    margin-left: 20px;
	text-align: center;
}

header .copyright
{
	top-padding: 25px;
    font-weight: 100;
    font-size: 22px;
    text-align: center;
	letter-spacing: 1px;
    position: relative;
}
